<!--
    class="list-group-item clearfix documentDiv" style="cursor: pointer;"
 routerLinkActive="active" [routerLink]="[index]"
-->
<a 
class="list-group-item clearfix documentDiv" style="cursor: pointer;"
 routerLinkActive="active-link" [routerLink]="[contactIndex]">
<div class="pull-left">
    <h4 class="list-group-item-heading">{{ contact.name }} {{ contact.id }} </h4>
</div>
<span class="pull-right">
    <img 
    [src]="contact.imageUrl" 
    alt="{{ contact.name }}"
    class="img-responsive" 
    style="max-height: 50px">
</span>
</a>

