<div class="panel panel-default" xmlns="http://www.w3.org/1999/html">
    <div class="panel-heading">
        <div class="row pad-all">
            <h4 class="title margin-left-right">{{ contact.name }}</h4>
            <span class="pull-left">
                <img 
                src="{{ contact.imageUrl }}" 
                alt="{{ contact.name }}"
                class="img-responsive" 
                style="max-height: 50px">                        
            </span>
            <div class="row pull-right margin-left-right">
                <a class="btn btn-primary" [routerLink]="['edit']">Edit</a>
                <a class="btn btn-danger" (click)="onDelete()">Delete</a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="pad-left-right"> 
            <div class="row">
                <p>Email:</p>
                <span class="label-value">{{ contact.email }}</span>
            </div> 
            <div class="row">
                <p>phone:</p>
                <span class="label-value">{{ contact.phone }}</span>
            </div>
            <div *ngIf="contact.group!==null">
                Contacts in Team:
                <div *ngFor="let member of contact.group">
                    <cms-contact-item class="col-sm-11" [contact]="member" style="margin-top: 10px"></cms-contact-item>
                </div>
            </div>
        </div>
    </div>
</div>
