<a 
    href="#" 
    class="list-group-item clearfix">
    <div class="panel-heading" >
        Alfred E. Neuman 
        <br>
        <br>
        <span class="pull-left">
            <img 
            src="../assets/images/A.E.Neuman.jpg" 
            alt="Alfred E. Neuman"
            class="img-responsive" 
            style="max-height: 50px">                        
        </span>
        <span class="pull-right">
            <a href="#" class="btn btn-primary">Edit</a>
            <a href="#" class="btn btn-danger">Delete</a>
        </span>
        <br>
        <br>
        <br>
    </div>
    <div class="panel-body">
        Email:
        <br>
        Phone:
    </div>
</a>

