<div class="panel panel-default">
  <div class="panel-body">
    <div *ngIf="editMode">
      <h3>Edit Account<hr></h3>
    </div>
    <div *ngIf="!editMode">
      <h3>Create Account<hr></h3>
    </div>
    <form id="contact-edit" (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="name">Name:</label>
          <input
            type="text"
            id="name"
            name="name"
            class="form-control required"
            size="120"
            max="120"
            ngModel
            required
            [ngModel]=contact?.name
            #name="ngModel">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="password">Password:</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control invalid"
            size="150"
            max="255"
            ngModel
            required
            [ngModel]=""
            #password="ngModel"
            pattern="\D*(?=.*[a-z])(?=.*[A-Z]).{8,20}\D*">
            <span class="help-block" *ngIf="password.value !=' ' && !password.valid && password.touched">Password at least 8 characters, upper and lower case</span>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="email">Email:</label>
          <input
            type="text"
            id="email"
            name="email"
            class="form-control required"
            size="120"
            max="255"
            ngModel
            required
            [ngModel]=contact?.email
            #email="ngModel"
            pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
            <span class="help-block" *ngIf="!email.valid && email.touched">Enter a valid Email address</span>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="phone">Phone:</label>
          <input
            type="text"
            id="phone"
            name="phone"
            class="form-control invalid"
            size="150"
            max="255"
            ngModel
            [ngModel]=contact?.phone
            #phone="ngModel"
            pattern="\D*([2-9]\d{2})(\D*)([2-9]\d{2})(\D*)(\d{4})\D*">
            <span class="help-block" *ngIf="phone.value !=' ' && !phone.valid && phone.touched">Phone number 10 digits with or without separators</span>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="imageUrl">Image URL:</label>
          <input
            type="text"
            id="imageUrl"
            name="imageUrl"
            class="form-control"
            size="150"
            max="255"
            ngModel
            [ngModel]=contact?.imageUrl
            #imageUrl="ngModel">
        </div>
      </div>

      <div
        class="row drop-area"
        id="groupList"
        style="min-height: 3rem;"
        cdkDropList
        [cdkDropListData]="groupContacts" 
        (cdkDropListDropped)="addToGroup($event)">
        <div 
          class="alert alert-danger"
          *ngIf="invalidDrop" style="margin-top: 10px">
          Contact cannot be added to the group. It is already in the group or is the current contact.
        </div>
        <div *ngFor="let member of groupContacts; let i = index">
          <div>
            <!-- That odd [contactIndex]"'./'" is to suppress clicking away -->
            <!-- by clicking on subcontact in edit mode. -->
            <cms-contact-item class="col-sm-11" [contactIndex]="'./'" [contact]="member" style="margin-top: 10px"></cms-contact-item>
            <button class="btn btn-danger col-sm-2 deleteButton" (click)="onRemoveItem(i)">X</button>
          </div>
        </div>
        <span class="drop-area" *ngIf="groupContacts?.length < 1">Drag contacts in group here</span>
      </div>
      <div 
        class="alert alert-danger"
        *ngIf="!name.valid && !name.touched || 
        !email.valid && !email.touched ||
        !password.valid && !password.touched || invalidForm(f)" style="margin-top: 10px">
        The Name, Password, and Email fields are required.
      </div>

      <div class="row">
        <div class="col-xs-12 btn-toolbar" style="margin-top: 10px">
          <button class="btn btn-success" type="submit" [disabled]="!f.valid || invalidForm(f)">Save</button>
          <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
