<nav class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand"><h4>WeLearn CMS</h4></a>
    </div>
    <div class="collpase navbar-collapse">
        <ul class="nav navbar-nav navbar-left">

            <li><a
                (click)="onSelectItem('documents')"
                ><h4>Documents</h4></a></li>
            <li><a
                (click)="onSelectItem('messages')"
                ><h4>Messages</h4></a></li>  
            <li><a
                (click)="onSelectItem('contacts')"
                ><h4>Contacts</h4></a></li> 
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown" appDropdown>
                <a class="dropdown-toggle" role="button">User<span class="caret"></span> </a>
                <ul class="dropdown-menu">
                    <li>Login</li>
                    <li>Other<hr></li>
                    
                    <li>Logout</li>
                </ul>
            </li>
        </ul>
    </div>
</nav>