<div class="panel panel-default" xmlns="http://www.w3.org/1999/html">
    <div class="panel-heading">
        <div class="row pad-all">          
            <span class="pull-left">Message Detail</span>
            <a class="btn btn-danger pull-right" style="margin-right: 10px;" (click)="onDelete()">Delete</a>
        </div>
    </div>
    <div class="panel-body">
        <div class="pad-left-right">
            <div class="row">
                <p class="label-value">Message Sender: {{ contact.name }}</p>
            </div>
            <div class="row">
                <p class="label-value">Message Subject: {{ message?.subject}}</p>
            </div>
            <div class="row">
                <p class="label-value">Message Text: {{ message?.msgText }}</p>
            </div>
        </div>
    </div>
</div>
  
  
