
<div class="panel panel-default">
    <div class="panel-heading">
      <div class="row pad-left-right">
        <span class="pull-left title">Contacts</span>
        <!-- this will go back in week 8 -->
        <!--a class="btn btn-success pull-right" role="presentation" [routerLink]="['/contacts', 'new']">New Contact</a-->

        <!-- create a dummy contact for testing purposes -->
        <a class="btn btn-success pull-right" role="presentation" (click)="addContact()">New Contact</a>
      </div>
    </div>
    <div class="panel-body">
      <div class="center-panel">
        <cms-contact-item
          *ngFor="let contactEl of contacts"
          [contact]="contactEl"
          [contactIndex]="contactEl.id" 
        ></cms-contact-item>
      </div>
    </div>
  </div>


