<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row pad-left-right">
      <span class="pull-left title">Documents</span>
      <!-- This will go back in week 8 -->
      <!--a class="btn btn-success pull-right" role="presentation" [routerLink]="['/documents', 'new']">Add Document</a-->

      <!-- Create a dummy document for testing purposes -->
      <a class="btn btn-success pull-right" role="presentation" (click)="addDocument();">Add Document</a>
    </div>
  </div>
  <div class="panel-body">
    <div class="center-panel">
      <cms-document-item
      *ngFor="let documentEl of documents;"
      [document]="documentEl"
      [docIndex]="documentEl.id"   
      ></cms-document-item>
    </div>
  </div>
</div>
