
<div class="panel panel-default">
   <div class="panel-heading">
      <div class="row pad-left-right">
         <span class="title pull-left">Messages</span>
      </div>
   </div>
   <div class="panel-body">
      <div class="row">
         <div class="col-xs-12">
         <!-- this needs to show a bunch of messages -->
            <app-message-item
               *ngFor="let messageEl of messages"
            ></app-message-item>
         </div>
      </div>
   </div>
   <div class="panel-footer">
      <!-- this should edit the current message-->
      <app-message-edit></app-message-edit>
   </div>
</div>